<html>
    <head>
        <style>
            body{
                background-image: url("https://giffiles.alphacoders.com/999/9990.gif");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        </style>
    </head>
    <body>
        
        <input type="text" id="data" value="{{ip}}" style="display: none;">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                let data = $("#data").val();
                console.log(data)
            })
        </script>
    </body>
</html>